/**************************/
/*	   1.General CSSS     */
/**************************/

.logo {
	height: 50px;
	width: 120px;
}
.padding-bottom {
	padding-bottom: 25px;
}

.padding-top {
	padding-top: 25px;
	background:#1d1a31;
	width: 100%;
    padding-left: 5%;
    padding-right: 5%
}

.left {
	float: left;
}

.right {
	float: right;
}

/*******************************/
/*          2.Navbar           */
/*******************************/
.navbar-inverse { min-height:100px; margin-bottom:0;}
.navbar-inverse *:focus { outline: 0; }
@media (max-width: 767px) {
	.navbar-inverse {  background: #1d1a31; }
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > .open ul > a { color:rgba(255, 255, 255, .4); }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus { color: #fff; background:none ; }
.navbar-inverse .navbar-nav > .open > a{ background:none; color:white; }

.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus { background:none; color:white; }

.navbar-inverse .navbar-nav > .active > a { background:none; color:white; }

.navbar-inverse .navbar-brand { font-family: "Open sans", helvetica, arial; font-size: 24px; color:white; padding:0 0 0 15px; margin:12px 0 0 0; }
	.navbar-inverse .navbar-brand img { margin-top:-8px;}

.navbar-nav .dropdown-menu {
	left:-5px;
	font-size: 13px;
	background-color: rgba(0, 0, 0, .7);
	border: 0px none;
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-nav .dropdown-menu > li > a { color:rgba(255, 255, 255, .7); padding:7px 20px; }
	.navbar-nav .dropdown-menu > li > a:hover,
	.navbar-nav .dropdown-menu > li > a:focus,
	.navbar-nav .dropdown-menu > .active > a:hover{ background: rgba(255, 255, 255, .1); color:white; }

.navbar-nav .dropdown-menu > .active > a,
.navbar-nav .dropdown-menu > .active > a:focus { background: none; color:#fff; }

.navbar-nav .btn { border:1px solid rgba(255, 255, 255, .2); margin-left:5px; margin-top:5px; padding-top:10px; padding-bottom:10px; }

.navbar-nav a.btn:focus, 
.navbar-nav a.btn:hover  { border:1px solid rgba(255,255,255,.6); }

.navbar-collapse { border:0 none;  border-top:0 none; box-shadow: none; }

@media (max-width: 767px) {
	.navbar-collapse ul { text-align: center;  width:100%; padding-bottom:10px; }
	.navbar-collapse ul .btn{ max-width:50%; margin:0 auto; }
	.padding-bottom {  padding-bottom: 0px;	}
	.margin-left { margin-left: 0; }
	.left { float: none; }
	.right { float: none; }
}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom { border-radius: 0; }

/*******************************/
/*          Botons              */
/*******************************/
.btn-default, .btn-primary, .btn-success, .btn-action
.btn-info,    .btn-warning, .btn-danger {
	text-shadow: 0 2px 1px rgba(0, 0, 0, .2);
}

.btn { padding: 10px 40px; font-weight: bold; border:0 none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.btn-lg { padding: 15px 65px; font-size: 14px; font-weight:bold; }
.btn-default{ text-shadow: none; background:transparent; color:rgba(50,50,50,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(50,50,50,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(50,50,50,.5); box-shadow:inset 0px 0px 0px 3px rgba(50,50,50,.5); }
	.btn-default:hover,
	.btn-default:focus { color:rgba(50,50,50,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(50,50,50,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(50,50,50,.8); box-shadow:inset 0px 0px 0px 3px rgba(50,50,50,.8); background: transparent; }
	.btn-default:active, 
	.btn-default.active { color:#333; -webkit-box-shadow:inset 0px 0px 0px 3px #333; -moz-box-shadow:inset 0px 0px 0px 3px #333; box-shadow:inset 0px 0px 0px 3px #333; background: transparent; }
	
.btn-action,
.btn-primary { color:#FFEFD7; background-image: -webkit-linear-gradient(top, #FF9B22 0%, #FF8C00 100%); background-image: linear-gradient(to bottom, #FF9B22 0%, #FF8C00 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFF9B22', endColorstr='#ffFF8C00', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); background-repeat: repeat-x; border:0 none; }
	.btn-action:hover,
	.btn-action:focus {color:#fff; background: #FF9B22; }
	.btn-action:active {background: #FF8C00; }

/* Autohide navbar */
.slideUp { top:-100px; }
.headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }

/* Typography */
h1, h2, h3, h4, h5, h6 { font-family:"Open sans", Helvetica, Arial; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:30px; } 
blockquote { font-style: italic; font-family: Georgia; color:#999; margin:30px 0 30px; }
label { color: #777; }
.thin { font-weight:300; }
.page-title { margin-top:20px; font-weight:300; }
.text-muted { color:#888; }
.breadcrumb { background:none; padding:0; margin:30px 0 0px 0; }
ul.list-spaces li{ margin-bottom:10px; }

/* Helpers */
.container-full { margin: 0 auto; width: 100%; }
.top-space { margin-top: 60px; }
.top-margin { margin-top:20px; }

img { max-width:100%; }
img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map { width:100%; height:280px; }

/* Footer */
.footer1 { background: #232323; padding: 30px 0 0 0; font-size: 12px; color: #999; }
	.footer1 a { color: #ccc; }
		.footer1 a:hover {color: #fff; }
	.footer1 .widget { margin-bottom:30px; }		
	.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
	.footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
		.footer1 .entry-meta a { color: #333333; }
		.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
	.follow-me-icons { font-size:30px; }		
		.follow-me-icons i { float:left; margin:0 10px 0 0; }		

.footer2 { background: #191919; padding: 15px 0; color: #777; font-size: 12px; }
	.footer2 a { color: #aaa; }
		.footer2 a:hover { color: #fff; }
		.footer2 p { margin: 0; }

	.widget-simplenav { margin-left:-5px; }		
	.widget-simplenav a{ margin:0 5px; }
	
.searchbar-input {
	border: 1px solid rgba(255, 255, 255, .2);
	font-family:"Open sans", Helvetica, Arial;
	width: 300px;
	border-radius: 2px;
	margin-left: 55px;
	margin-top: 5px;
	padding: 10px 15px;
}

.navbar-blue {
	background-color: #65AFFF;
	margin-left: 0;
	margin-right: 0;
}

.button-search-bar {
	border: 1px solid #333;
	margin-left: 15px;
	margin-top: 5px;
	border-radius: 3px;
	text-align: center;
    vertical-align: middle;
    cursor: pointer;
	padding: 10px 15px;
}

.espaiat {
	display: none;
}

.margin-top {
	margin-top: 125px;
}

@media (max-width: 992px) {
	.searchbar-input { 	width: 200px; }
	.espaiat {	display: block; }
}

@media (max-width: 767px) {
	.navbar-blue {	background-color: #1d1a31; }
	.searchbar-input { 	width: 180px; margin-left: 15px; margin-top: 0px; padding:9px 10px;}
	.button-search-bar {margin-top:0px; margin-left: 10px}
	.logo {padding-top: 4px}
	.button-search-bar:hover {	background-color: #333;	}
	.navbar-size {padding: 13px 10px;}
	.margin-top {margin-top:100px; }
}

@media (max-width: 480px) {
	.searchbar-input { 	width: 150px; margin-left: 15px; margin-top: 0px; padding:9px 10px;}
}

.center {
    display: flex;
    align-items: center;
}