ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li {
    display: inline;
}

.barraDalt {
    background-color: rgb(94, 94, 94);
    padding: 30px;
}

.barraBaix {
    background-color: rgb(189, 189, 189);
    padding: 15px;
}

.logo {
    width: 50px;
    float: left;
}

.search { 
    padding: 6px;
    margin-left: 30px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
  }

.user {
    float: right;
    width: 45px;
}

.nivells {
    margin-top: 20px;
}

.titol {

}
